<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Jetstream/Welcome.vue';
</script>

<template>
<AppLayout title="Dashboard">
    <!-- FLASH MESSAGE FROM HandleInertiaRequests.php Requests (search inertia Flash Message for reference) -->
      <div v-if="$page.props.flash.message" class="alert fixed w-full z-10">
        {{timeOutFunction()}}
        <div  class=" w-full bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" style="margin-inline: auto;" role="alert">
        <div class="flex">
            <!-- <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div> -->
            <div>
            <!-- <p class="font-bold">{{counts}}</p> -->
            <p class="text-sm">{{$page.props.flash.message}}</p>
            <p class="text-sm"> .. </p>
            </div>
        </div>
        </div>
      </div>
    <!--  -->


        <div class="flex flex-col">

            <div class="overflow-x-auto ">
                <div class="py-2 inline-block w-full">
                    <div class="py-2 flex ...">
                        <div class="w-5/6 ...">    
                            <!-- display for 1 second -->

                        </div>
                        <div class="w-1/6 align-content: center;...">
                             <Link href="/articles/create" >
                                <button class="w-30 bg-[#16a34a] hover:bg-[#86efac] text-white font-bold py-2 px-4 rounded">
                                    POST
                                </button>
                            </Link>
                        </div>
                    </div>
                <div class="overflow-hidden">
                    <table class="min-w-full">
                        <thead class="bg-white border-b">
                            <tr class="border-b bg-gray-800 boder-gray-900">
                            <td class="text-sm text-white font-medium px-6 py-4 whitespace-nowrap">
                                Article Title
                            </td>                          
                            <td class="text-sm text-white font-medium px-6 py-4 whitespace-nowrap">
                                Article Content Snippet
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Created Date
                            </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="result in results" :key="result" class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">                
                                <td @click="viewArticle(result)" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{result.title}}
                                </td>
                                <td @click="viewArticle(result)"  class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{result.article_content}}
                                </td>
                                <td  @click="viewArticle(result)" class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{result.created_at}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex ...">
                                        <div class="px-1 ... ">
                                             <Link :href="`/articles/${result.id}/edit`">
                                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                                    Edit 
                                                </button>
                                            </Link>
                                        </div>
                                        <div class="px-1 ... ">
                                            <button  @click="deleteRow(result)" class="bg-[#dc2626] hover:bg-[#f87171] text-white font-bold py-2 px-4 rounded">
                                                    Delete
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                </div>
            </div>
        </div>

    
        <!-- Main modal -->
<div v-if="this.viewContent" @click.self="viewArticle"  id="authentication-modal" tabindex="-1" aria-hidden="true" class="content-center overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto" style="margin-inline: auto;">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button @click="viewArticle" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="py-6 px-6 lg:px-8">
                <form class="space-y-6" action="#">
                    <div class="w-full mr-1">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">Title</label>
                        <input v-model="this.popupForm.title" disabled type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                    </div>
                    <div class="w-full ml-1">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Article Content</label>
                        <textarea v-model="this.popupForm.article_content" disabled id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
                    </div>
                    <div class="w-full mr-1">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">Votes</label>
                        <input v-model="this.popupForm.votes" disabled type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                    </div>     
                    <div class="flex ...">
                        <div class="px-1 ... ">
                            <button @click="upVote(this.popupForm)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                UpVote 
                            </button>
                        </div>
                        <div class="px-1 ... ">
                            <button @click="downVote(this.popupForm)" class="bg-[#dc2626] hover:bg-[#f87171] text-white font-bold py-2 px-4 rounded">
                                DownVote
                            </button>
                        </div>
                    </div>                                   
                </form>
            </div>
        </div>
    </div>
</div> 
    </AppLayout>

</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3';
    import JetNavLink from '@/Jetstream/NavLink.vue';
    export default {
        props: {
            errors  : Object,
            message : String,
            results : Array,
            count   : Number
        }, //result and message is from UserController index function
        data() {
            return {
                viewContent: false,
                popupForm :{
                    id              : null,
                    title           : null,
                    article_content : null,
                    votes           : null
                }
            }
        },
        created(){
            if(this.message){
                setTimeout(() => this.elementVisible = false, 1000)
            }
        },
        methods: {
            deleteRow: function (data) {
                data._method = 'DELETE';
                this.$inertia.post('/articles/' + data.id, data
                )
            },timeOutFunction(){
                if(this.$page.props.flash){
                    setTimeout(() => this.$page.props.flash = false, 1000)
                }
            },viewArticle(data){
                this.viewContent = !this.viewContent
                this.popupForm.id             = data.id;
                this.popupForm.title             = data.title;
                this.popupForm.article_content   = data.article_content;
                this.popupForm.votes             = data.votes;
            },upVote(data){
                data._method = 'PUT';
                this.$inertia.post('/articles/' + data.id + '/up_vote', data)
            },downVote(data){
                data._method = 'PUT';
                this.$inertia.post('/articles/' + data.id + '/down_vote', data)
            },
              watch: {
                popupForm(value, oldValue) {
                //   save(value);
                console.log(value)
                }
            }     
        }
    }
</script>
