
<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
</script>

<template>
    <AppLayout title="Dashboard">
        <div class="flex flex-col">
            <div class="container p-2">
                <div class="w-full bg-grey-lightest" style="padding-top: 4rem;">
                    <div class="container mx-auto py-8">
                    <div class="w-5/6 lg:w-1/2 mx-auto bg-white rounded shadow">
                            <div class="py-4 px-8 text-black text-xl border-b border-grey-lighter">Article Update</div>
                        <form>
                            <div class="py-4 px-8">
                                <div class="flex mb-4">
                                    <div class="w-1/2 mr-1">
                                        <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">Title</label>
                                        <input v-model="this.form.title" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                                        <p className="text-sm text-red-500 ">{{errors.title}}</p>
                                    </div>
                                    <div class="w-1/2 ml-1">
                                        <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Article Content</label>
                                       <textarea v-model="this.form.article_content" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
                                       <p className="text-sm text-red-500 ">{{errors.article_content}}</p>    
                                    </div>
                                </div>
                                <div class="w-full ">
                                    <div class="flex justify-end ...">
                                        <div class="px-3">
                                            <button @click.prevent="updateArticle(this.form)" type="button" class=" text-sm w-auto text-white px-2 text-center py-3 rounded bg-[#16a34a] hover:bg-[#86efac]focus:outline-none my-1">
                                                Update
                                            </button> 
                                        </div>
                                        <div class="px-3">
                                            <Link :href="`/users`" >
                                                <button type="button" class="text-sm w-auto text-center py-3 px-3 text-white rounded bg-[#262626] hover:bg-[#a3a3a3]focus:outline-none my-1">
                                                    Cancel
                                                </button>     
                                            </Link>    
                                        </div>              
                                    </div>
                                </div>                                                                                        
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>    
    </AppLayout>
</template>


<script>
    import { Link } from '@inertiajs/inertia-vue3';
    export default {
        props: {
            errors: Object,
            results : Array,
            message : String,
        },
        components: {
            Link
        },
        data() {
            return {
                form: {
                    title               : null,
                    article_content     : null
                },
            }
        },
        created(){
            console.log('created')
            this.form.title             = this.results.title;
            this.form.article_content   = this.results.article_content;
        },
        methods:{
            updateArticle(data){
                data._method = 'PUT';
                this.$inertia.post('/articles/' + this.results.id, data)                
            }
        }
    }    
</script>
