<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Welcome from '@/Jetstream/Welcome.vue';
</script>

<template>
<AppLayout title="Dashboard">
    <!-- FLASH MESSAGE FROM HandleInertiaRequests.php Requests (search inertia Flash Message for reference) -->
      <div v-if="$page.props.flash.message" class="alert fixed w-full z-10">
        {{timeOutFunction()}}
        <div  class=" w-full bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" style="margin-inline: auto;" role="alert">
        <div class="flex">
            <!-- <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div> -->
            <div>
            <!-- <p class="font-bold">{{counts}}</p> -->
            <p class="text-sm">{{$page.props.flash.message}}</p>
            <p class="text-sm"> .. </p>
            </div>
        </div>
        </div>
      </div>
    <!--  -->

    <!-- props message if true -->
    <!-- <div v-if="this.elementVisible" class="fixed w-full z-10">
        <div  class=" w-full bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" style="margin-inline: auto;" role="alert">
        <div class="flex">
            <div>
            <p class="text-sm">{{count}}</p>
            <p class="text-sm">{{message}}</p>
            </div>
        </div>
        </div>
    </div> -->
    <!--  -->

        <div class="flex flex-col">

            <div class="overflow-x-auto ">
                <div class="py-2 inline-block w-full">
                    <div class="py-2 flex ...">
                        <div class="w-5/6 ...">    
                            <!-- display for 1 second -->

                   
                            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                                <JetNavLink href='/users' :active="route().current('users')">
                                    Users
                                </JetNavLink>                                        
                                <JetNavLink >
                                    Roles
                                </JetNavLink>    
                                <JetNavLink>
                                   Permissions
                                </JetNavLink>                                                                        
                            </div>
                        </div>
                        <div class="w-1/6 align-content: center;...">
                             <Link href="/users/create" >
                                <button class="w-30 bg-[#16a34a] hover:bg-[#86efac] text-white font-bold py-2 px-4 rounded">
                                    Add User 
                                </button>
                            </Link>
                        </div>
                    </div>
                <div class="overflow-hidden">
                    <table class="min-w-full">
                        <thead class="bg-white border-b">
                            <tr class="border-b bg-gray-800 boder-gray-900">
                            <td class="text-sm text-white font-medium px-6 py-4 whitespace-nowrap">
                                Reference No,
                            </td>                          
                            <td class="text-sm text-white font-medium px-6 py-4 whitespace-nowrap">
                                Name
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Email
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Department
                            </td>
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Job Description
                            </td>                            
                            <td class="text-sm text-white font-medium px-6 py-4 whitespace-nowrap">
                                Status
                            </td>                              
                            <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
                                Actions
                            </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="result in results" :key="result" class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <div v-if="result.profile">
                                        {{result.profile.reference_number}}
                                    </div>
                                    <div v-else>
                                        N/A
                                    </div>
                                </td>                     
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {{result.name}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{result.email}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div v-if="result.profile">
                                        {{result.profile.department_id}}
                                    </div>
                                </td>                                
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div v-if="result.profile">
                                        {{result.profile.position}}
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <div v-if="result.profile">
                                            <div class="form-check">
                                              <input v-bind:checked="result.profile.status" @change="handleStatusChange(result)" class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 my-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer" type="checkbox" value="" id="flexCheckChecked3" >
                                            </div>                                        
                                    </div>
                                    <div v-else>
                                        N/A
                                    </div>                                    
                                </td>                                
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    <div class="flex ...">
                                        <div class="px-1 ... ">
                                             <Link :href="`/users/${result.id}/edit`">
                                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                                    Edit 
                                                </button>
                                            </Link>
                                        </div>
                                        <div class="px-1 ... ">
                                            <button  @click="deleteRow(result)" class="bg-[#dc2626] hover:bg-[#f87171] text-white font-bold py-2 px-4 rounded">
                                                    Delete
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>


<script>
    import { Link } from '@inertiajs/inertia-vue3';
    import JetNavLink from '@/Jetstream/NavLink.vue';
    export default {
        props: {
            errors  : Object,
            message : String,
            results : Array,
            count   : Number
        }, //result and message is from UserController index function
        data() {
            return {
                elementVisible: true,
                editModal: false,
            }
        },
        created(){
            if(this.message){
                setTimeout(() => this.elementVisible = false, 1000)
            }
        },
        methods: {
            deleteRow: function (data) {
                data._method = 'DELETE';
                this.$inertia.post('/users/' + data.id, data
                // ,{
                //     onSuccess: (res) => { // dont know how to catch yet.
                //         console.log(res)
                //     },
                // }
                )
            },handleStatusChange(data){
                data._method = 'PUT';
                this.$inertia.post('/users/' + data.id + '/change_status', data)
            },timeOutFunction(){
                if(this.$page.props.flash){
                    setTimeout(() => this.$page.props.flash = false, 1000)
                }
            }       
        }
    }
</script>
