
<script setup>
    import AppLayout from '@/Layouts/AppLayout.vue';
</script>

<template>
    <AppLayout title="Dashboard">
        <div class="flex flex-col">
            <div class="container p-2">
                <div class="w-full bg-grey-lightest" style="padding-top: 4rem;">
                    <div class="container mx-auto py-8">
                    <div class="w-5/6 lg:w-1/2 mx-auto bg-white rounded shadow">
                            <div class="py-4 px-8 text-black text-xl border-b border-grey-lighter">Register for a free account</div>
                        <form>
                            <div class="py-4 px-8">
                                <div class="flex mb-4">
                                    <div class="w-1/2 mr-1">
                                        <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">First Name</label>
                                        <input v-model="this.form.firstname" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                                        <p className="text-sm text-red-500 ">{{errors.firstname}}</p>
                                    </div>
                                    <div class="w-1/2 ml-1">
                                        <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Last Name</label>
                                        <input v-model="this.form.lastname" type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
                                        <p className="text-sm text-red-500 ">{{errors.lastname}}</p>    
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label rea class="block text-grey-darker text-sm font-bold mb-2" for="email">Email Address</label>
                                    <input v-model="this.form.email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required>
                                    <p className="text-sm text-red-500 ">{{errors.email}}</p>     
                                </div>
                                <div class="mb-4">
                                    <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
                                    <input v-model="this.form.password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" required>
                                    <p className="text-sm text-red-500 ">{{errors.password}}</p>         
                                </div>
                                <div class="mb-4">
                                    <label class="block text-grey-darker text-sm font-bold mb-2" for="confirm_password">Confirm password</label>
                                    <input v-model="this.form.password_confirmation" type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Confirm Password" required>
                                </div>      
                                <div class="mb-4">
                                    <label class="block text-grey-darker text-sm font-bold mb-2" for="department">Department</label>
                                    <input v-model="this.form.department_id" type="text" id="department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Must be Dropdown" required>
                                    <p className="text-sm text-red-500 ">{{errors.department_id}}</p>        
                                </div>
                                <div class="mb-4">
                                    <label class="block text-grey-darker text-sm font-bold mb-2" for="job_title">Job Title</label>
                                    <input v-model="this.form.position" type="text" id="job_title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Job Description" required>
                                    <p className="text-sm text-red-500 ">{{errors.position}}</p>        
                                </div>  
                                <div class="w-full ">
                                    <div class="flex justify-end ...">
                                        <div class="px-3">
                                            <button @click.prevent="createUser(this.form)" type="button" class=" text-sm w-auto text-white px-2 text-center py-3 rounded bg-[#16a34a] hover:bg-[#86efac]focus:outline-none my-1">
                                                Create
                                            </button> 
                                        </div>
                                        <div class="px-3">
                                            <Link :href="`/users`" >
                                                <button type="button" class="text-sm w-auto text-center py-3 px-3 text-white rounded bg-[#262626] hover:bg-[#a3a3a3]focus:outline-none my-1">
                                                    Cancel
                                                </button>     
                                            </Link>    
                                        </div>              
                                    </div>
                                </div>                                                                                        
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>    
    </AppLayout>
</template>


<script>
    import { Link } from '@inertiajs/inertia-vue3';
    export default {
        props: {
            errors: Object,
            // results : Array
        },
        components: {
            Link
        },
        data() {
            return {
                form: {
                    // firstname               : null,
                    // lastname                : null,
                    // email                   : null,
                    // password                : null,
                    // password_confirmation   : null,
                    // department_id           : null,
                    // position                : null,
                    firstname               : 'TestFirstName',
                    lastname                : 'TestLastName',
                    email                   : 'TestEmail@gmail.com',
                    password                : '@TestPassword123',
                    password_confirmation   : '@TestPassword123',
                    department_id           : 1,
                    position                : 'TestPosition',
                },
            }
        },
        methods:{
            createUser: function (data) {
                // if(data.department_id == null){
                //    return confirm('Please select a department?')
                // }
              const response = this.$inertia.post('/users', data);
            },
        }
    }    
</script>
